@model indexMV
<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                <div class="contents">
                    <h1 class="head-title">Welcome to The Largest <span class="year">Marketplace</span></h1>
                    <p>Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more</p>
                    <div class="search-bar">
                        <div class="search-inner">
                            <form asp-controller="Home" asp-action="ProductSearch" class="search-form">
                                <div class="form-group">
                                    <input type="text" name="xname" class="form-control" placeholder="Search By Products">
                                </div>

                                <button class="btn btn-common" type="submit"><i class="lni-search"></i> Search Now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <a class="btn btn-common" href="/Home/FilterPrice">Filter By Price</a>
            </div>
        </div>
    </div>
</div>

<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="featured-box">
                        <figure>
                            <div class="icon">
                                <span class="bg-green"><i class="lni-heart"></i></span>
                                <span><i class="lni-bookmark"></i></span>
                            </div>
                            <a href="#"><img class="img-fluid" src="~/assets/img/featured/img-1.jpg" alt=""></a>
                        </figure>
                        <div class="feature-content">
                            <div class="product">
                                <a href="#">Electronic &gt; </a>
                                <a href="#">Cameras</a>
                            </div>
                            <h4><a href="ads-details.html">@item.subject</a></h4>
                            <div class="meta-tag">
                                <span>
                                    <a href="#"><i class="lni-user"></i> John Smith</a>
                                </span>
                                <span>
                                    <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                </span>
                                <span>
                                    <a href="#"><i class="lni-tag"></i> Canon</a>
                                </span>
                            </div>
                            <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <div class="listing-bottom">
                                <h3 class="price float-left">$@item.price</h3>
                                <a href="/Home/CurrentProduct/@item.id" class="btn btn-common float-right">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="services section-padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Categories)
            {
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="icon">
                            <i class="lni-book"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="/Home/GetProductsByCategory/@item.Id">@item.Name</a></h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>







